@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  font-family: 'Roboto', sans-serif;
}

.avatar-img {
  width: 40px;
  border-radius: 50%;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}
